@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montreal";
}

html,
body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Unagao";
  src: url("/fonts/Unageo[wght].ttf") format("truetype");
}

@font-face {
  font-family: "Montreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-family: "Montreal";
  letter-spacing: -0.1rem;
  line-height: 1.1;
}

h2 {
  font-family: "Montreal";
  letter-spacing: -0.02rem;
  line-height: 1.1;
}

a,
p {
  font-family: "Montreal";

  line-height: 1;
  overflow: hidden;
}

.hero {
  position: relative;

  height: 100vh;
  display: block;
  overflow: hidden;
}

.hero-bg {
  position: fixed;
  background-color: #e9fbff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
  transform: scaleY(0%);
  z-index: -999;
  pointer-events: none;
}

.counter {
  position: fixed;
  left: 3rem;
  bottom: 2rem;
  display: flex;
  height: 120px;
  font-size: 120px;
  line-height: 150px;
  clip-path: polygon(0 0, 100% 0, 100% 120px, 0 120px);
}

.digit {
  position: relative;
  top: -15px;
  font-family: "Montreal";
}

.num1offset1 {
  position: relative;
  right: -30px;
}

.num1offset2 {
  position: relative;
  right: -15px;
}

.images-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}

.images-container .img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25%;
  aspect-ratio: 5/3;
  border-radius: 0.8rem;
  overflow: hidden;
  will-change: transform, height;
  /* Ensure images stay within viewport bounds */
}

.img figure {
  aspect-ratio: 5/3;
}

.images-container .img.animate-out {
  z-index: 0;
  top: unset;
  right: unset;
  bottom: 6rem;
  left: 7rem;
  overflow: hidden;
}

.divider {
  background-color: gray;
}

.nav .divider {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform-origin: left;
  transform: scaleX(0%);
}

.line {
  overflow: hidden;
}

.line span {
  position: relative;
  display: block;
  transform: translateY(125%);
  will-change: transform;
}

.site-info .divider {
  position: absolute;
  width: 100%;
  height: 1px;
  transform-origin: left;
  transform: scaleX(0%);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100vh;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}

.sidebar .divider {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100vh;
  transform-origin: top;
  transform: scaleY(0%);
}

.carousel-divider {
  transform-origin: left;
  transform: scaleX(0%);
  margin-left: 5rem;
}

.copy-divider {
  transform-origin: left;
  transform: scaleX(0%);
}

.menu-divider {
  display: none;
}

.slider {
  user-select: none;
  cursor: grab;
  overflow: visible;
}

.carousel-reel {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  min-height: 336px;
  gap: 0.5rem;
  display: flex;
  padding: 0rem;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 1rem;
  pointer-events: none;
}

.carousel-reel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.carousel-item {
  aspect-ratio: 5 / 4;
  max-width: 420px;
  overflow: hidden;
  border-radius: 1.2rem;
  display: flex;
  flex: 0 0 420;
  pointer-events: none;
}

.carousel-item figure {
  position: relative;
  width: 100%;
  pointer-events: none;
  overflow: visible;
}

.proxy {
  position: absolute;
  visibility: hidden;
}

.carousel-reel::-webkit-scrollbar {
  display: none;
}

.wrapper {
  position: relative;
  background-image: radial-gradient(#b6b4b4 1px, transparent 1px);
  background-size: 16px 16px;
  transform-origin: left;
  transform: scaleX(0%);
  overflow: hidden;
}

/*Vision Page*/
.vision {
  min-height: 100vh;
  display: block;
  overflow: hidden;
}

.vision-bg {
  position: relative;
  width: 100%;
  background-image: radial-gradient(#b6b4b4 1px, transparent 1px);
  background-size: 16px 16px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.first_pin {
  position: relative;
  align-items: center;
  justify-content: center;
}

.split-line {
  display: block;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.split-word {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.split-char {
  display: inline-block;
  transition: color 0.3s ease;
}

.texte_split {
  font-family: "Montreal";
  letter-spacing: -0.1rem;
  line-height: 1.1;
  max-width: 90%;
  align-items: center;
  justify-content: center;
}

.svg-icons img {
  max-width: 10%;
  object-fit: contain;
}

/*Sticky-Cards*/
.sticky-cards {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-cards-container {
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 12px;
  overflow: hidden;
}

.sticky-card {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  
  border-radius: 12px;
  overflow: hidden;
  background-color: #e9fbff;
  border: #0a0a0a 1px solid;
}

.sticky-card img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

/*Gallery Page*/
.gallery-items .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  transition: opacity 0.2s;
}

.gallery-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #e9fbff;
}

.img-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 50%;
  height: 75%;
  overflow: hidden;
}

.img-preview img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.minimap {
  position: absolute;
  top: 50%;
  right: 8em;
  width: 80px;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border: 1px solid black;
  z-index: 2;
}

.gallery-items {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  will-change: transform;
}

.gallery-item {
  width: 100%;
  height: 60px;
  padding: 8px;
  cursor: pointer;
}

.gallery-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  .sidebar {
    display: none;
  }
  .menu-divider {
    display: block;
    transform-origin: top;
    transform: scaleY(0%);
  }

  .logo-name {
    display: none;
  }

  .carousel-divider {
    transform-origin: left;
    transform: scaleX(0%);
    margin-left: 0rem;
  }

  .images-container .img {
    position: absolute;
    left: 50%;
    width: 40%;
    transform: translate(-50%);
    aspect-ratio: 5/3;
    border-radius: 0.8rem;
    overflow: hidden;
    will-change: transform, height;
    /* Ensure images stay within viewport bounds */
  }

  .images-container .img.animate-out {
    z-index: 0;
    top: unset;
    bottom: 6rem;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
  }

  .carousel-item {
    aspect-ratio: 1 / 1;
    height: auto; /* Maintain 3:2 ratio (can adjust) */
    width: 240px;
    max-height: 240px;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
  }

  .carousel-reel {
    min-height: 260px;
  }
  .wrapper {
    min-height: 260px;
  }

  .texte_split {
    max-width: 95%;
  }

  .svg-icons img {
    max-width: 20%;
    object-fit: contain;
  }

  .sticky-cards-container {
    width: 90%;
  }
  .sticky-card img {
    aspect-ratio: 1/1;
  }
  .sticky-card{
    border: none;
  }
}

@media (max-width: 900px) {
  .minimap {
    top: auto;
    right: auto;
    bottom: 5em;
    left: 50%;
    width: auto;
    height: 80px;
    touch-action: none;
  }

  .indicator {
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;

  }

  .gallery-items {
    flex-direction: row;
    width: max-content;
    height: 100%;
    touch-action: none;
  }

  .gallery-item {
    width: 60px;
    height: 100%;
    padding: 5px;
  }

  .img-preview {
    top: 45%;
    width: 75%;
    height: 50%;
  }
}
